body {
  background-color: #F1F3F5;
  color: #242635;
}

div.grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(40, 1fr);
}

header {
    grid-column: 3 / 9;
    grid-row: 1 / 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


a {
  text-decoration: none;
  color: #242635;
}

a:hover {
  color: chocolate;
}

li {
  font-family: 'Source Sans Pro', sans-serif;
  list-style: none;
  float: left;
  padding: 15px;
}

.main {
  width: 100%;
  grid-column: 4 / 8;
  grid-row: 15 / 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

  div.title {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 102px;
    letter-spacing: -2px;
  }

  div.text {
    height: 30%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

.image-container {
  grid-column: 3 / 9;
  grid-row: 22 / 40;
}

img {
  width: 100%;
}